@import './core/mixin';
@import './core/variables';



@import './frontpage/Navbar';
@import './frontpage/Jumbotron';
@import './frontpage/WinterClear';
@import './frontpage/two-add-cards';
@import './frontpage/speciality-cards';
@import './frontpage/product-cards';
@import './frontpage/sale-card-layout-1';
@import './frontpage/sale-card-layout-2';
@import './frontpage/divider';
@import './frontpage/nine-cards';
@import './frontpage/circle-links';
@import './frontpage/footer';
@import './Contact/contact-form';
@import './ProductPage/showcase-product';
@import './offcanvas/offcanvas';

@import './core/root';