.product-grid{
    margin-top: 2rem;
    flex-direction: column;

    .product-header{
        text-align: center;
    }

    & > .container{
        display: grid;
       
        & > .product-rows{
            display: grid;
            grid-auto-columns: 100px;
            grid-template-rows: repeat(2, 1fr);
            @include center-productBox;
        }
      
       
    }
}

@media (min-width: 992px){
    .product-grid{
        & > .container{
            @include container-small;
          

            & > .product-rows{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                
                grid-column-gap: 10px;
                grid-row-gap: 10px;
                @include center-productBox;
            }
        }
    }
}