.sale-layout-card-2{
    
    & > .container-fluid{

        
        display: flex;
        align-items: center;
        justify-content: center;
       
     
        .grey-card{
            display: none;
            
        }


        .sale-card-row-1,
        .sale-card-row-2{
            display: flex;
            
            @include left-productBox;
            
        }
        
    }
}














@media (min-width: 992px){
    .sale-layout-card-2{
        
        & > .container-fluid{
    
            @include container-large;
            display: flex;
            justify-content: flex-start;
            flex-direction: row-reverse;
            
    
            .grey-card{
                width: 820px;
                height: 820px;
                background-color: $grey-theme-21;
                @include black-button;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
    
                h2{
                    font-size: $font-size-45;
                    color: $white-theme-10;
                }
                
            }
    
        }
    }
    
}