@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
$font-poppins:'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-regular: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$red-theme: #FF7373;
$dark-theme: #23262A;

$grey-theme-10: #BEBEBE;
$grey-theme-11: #E6E6E6;
$grey-theme-20: #616365;
$grey-theme-21: #BBBBBB;
$grey-theme-30: #808080;
$white-theme-10: #FFFFFF;
$white-theme-11: #F7F8FA;
$white-theme-12: #F8F8F8;
$white-theme-20: #F5F5F5;


$font-size-11: 0.92rem;
$font-size-16: 1.33rem;
$font-size-18: 1.50rem;
$font-size-20: 1.67rem;
$font-size-35: 2.92rem;
$font-size-45: 3.75rem;
$font-size-65: 5.42rem;

$border-radius-circle: 50px;

$max-width-XXL: 1680px;
